* {
    background-color: pink;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-size: 128px;
    text-align: center;

}
a {
    text-decoration: none;
    
}
a:hover{
    color: rgb(131, 0, 131);
    font-size: 40px;
    
}
ul {
    list-style: none;
    text-align: center;
    font-weight: 900;
    font-size: 32px;
}
li {
    display: inline;
    padding-left: 40px;
    padding-right: 40px;
}